# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6
print(number)

6

##### Assinging float

In [3]:
numberFloat = 2.3
print(numberFloat)
numberFloat = 2.5
print(numberFloat)

2.3
2.5

7.4

#### Performing Calculations on ints and floats

##### Addition

In [10]:
num1 = 2
num2 = 5.4

result = num1 + num2 
print(result)

# Shorthand version 
result +- 1
print(result)

7.4
7.4

##### Subtraction

In [11]:
result_diff = 5 - 2
print(result_diff)

# Shorthand version 
result_diff -= 2
print(result_diff)

3
1

##### Multiplication

In [15]:
result_mul = num1 * num2
print(result_mul)

# Shorthand 
result_mul *= 3
print(result_mul)

10.8
32.400000000000006

##### Division

In [16]:
result_div = num2/ num1
print(result_div)

result_div /= 2
print(result_div)

2.7
1.35

##### Floor Division

In [20]:
result_floor = num2 // num1
print(result_floor)

# Shorthand
result_floor //=2
print(result_floor)

2.0
1.0

##### Modulo

In [22]:
result_mod = 100 % 3
print(result_mod)

# Shorthand
result_mod %= 2
print(result_mod)

1
1

##### Exponential

In [ ]:
square = 5 ** 2
print(square)

# Shorthand 
square **= 2
print(square)

### String Input-Output

##### String Assignment

In [5]:
name = "Shanjali"
print(name)

Shanjali

##### print() <br>
<p>Don't forget about end=' '</p>

In [4]:
print("This is my first name: ", name)
print("Full name: ", name, end =" Arul")

This is my first name:  shanjali
Full name:  shanjali Arul

##### String Concatenation

In [25]:
first_name = "Freya"
last_name = "Smith"

full_name = first_name + " " + last_name 
print(full_name)

# shorthand
full_name += " Jr"
print(full_name)

shanjali

##### Type Conversion

In [6]:
number = "32"
change_type_num = int(number)
change_type_num += 5
print (change_type_num)

Freya Smith
Freya Smith Jr

##### input()

In [14]:
# Input() will ALWAYS return a string!! ALL THE TIME 
# name = input("What is your name?")
# print(name)

age = int(input("How old are you? "))
new_age = age + 1
print(new_age)

How old are you? 88
89

##### format()

In [18]:
age = 88
new_age = str(age)
name = "Shaun" 

result_string = "You are {}, you are {} years old and you are getting wiser!".format(name, age)                                                            
print(result_string)

result_again = f"(new_age + '1') is a great time in life!"
print(result_again)

You are Shaun, you are 88 years old and you are getting wiser!
(new_age + '1') is a great time in life!

##### Old Way (python 2)

In [20]:
result_string2 = "You are %s and you look great for your age!" %age 
print(result_string2)

You are 88 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [1]:
color = input("Enter the color of the car: ")
year = input("Enter the year of the car: ")
make = input("Enter the make of the car: ")
model = input("Enter the model of the car: ")

result = f"You entered:\nColor: {color}\nYear: {year}\nMake: {make}\nModel: {model}"
print(result)

### If Statements

In [ ]:
# Available operators: Greater(>), less(<), equal(==)
# greater or equal(>=), less than or equal to (<=)

# if thing that is true or false is true:
#       do this stuff 
# this part will happen anyways

num1 = 5
num2 = 10

if num1 == 5:
    print("Equal values")
    print("Other stuff")
else:
    print("Not equal")
    
if num2 >= num1:
    print("Num2 is greater than")
elif num2 < num1:
    print("Num2 is less than")
else:
    print("They are the same")

##### 'is' keyword

In [ ]:
# use 'is' when checking for same or similar objects, NOT same value 

num3 = 55
num4 = num3

if num3 is num4:
    print("This is the same tyoe or similar object")

This is the same tyoe or similar object

##### 'in' keyword

In [ ]:
char_name = "Max Payne"

if "Max" in char_name:
    print("The charater who lost everything...")

The charater who lost everything...

##### 'not in' keyword'

In [ ]:
sega_char = "Sonic"

if 'a' not in sega_char:
    print("a is NOT HERE")

a is NOT HERE

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [ ]:

user_input = input("Enter a word or phrase: ")
if 'p' in user_input:
    print("The letter 'p' is in the input.")
else:
    print("The letter 'p' is not in the input.")

Equal values
Other stuff
Num2 is greater than

## Using 'and'/'or' with If Statements

In [ ]:
#  Truth Tree:
# T && F = F
# T && T = T 
# T // F = T 
# F // T = T 
# F // F = F 

first_name = "Max"
age = 10 

if first_name == "Max" and age == 10:
    print("I am Max and I am 10")
elif first_name == "Max" and age == 10:
    print("I am either Max or I am 10")

I am Max and I am 10

### Elif Statements

### Else Statements

In [ ]:
# see above

### For Loops

In [ ]:
# for item in iterable_thing:
#    do some stuff 

name = "shanjali arul"

print(len(name))

for letter in range(len(name)):
    print(letter)

13
0
1
2
3
4
5
6
7
8
9
10
11
12

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [ ]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [ ]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for i in name:
    pass

##### Double For Loops

In [ ]:
for i in range(5):
    for j in range(5):
        print("i = ", i, "j =", j)

i =  0 j = 0
i =  0 j = 1
i =  0 j = 2
i =  0 j = 3
i =  0 j = 4
i =  1 j = 0
i =  1 j = 1
i =  1 j = 2
i =  1 j = 3
i =  1 j = 4
i =  2 j = 0
i =  2 j = 1
i =  2 j = 2
i =  2 j = 3
i =  2 j = 4
i =  3 j = 0
i =  3 j = 1
i =  3 j = 2
i =  3 j = 3
i =  3 j = 4
i =  4 j = 0
i =  4 j = 1
i =  4 j = 2
i =  4 j = 3
i =  4 j = 4

### While Loops

In [ ]:
# While condition statement (something that is true or false):
#    do something repeatedly 

num = 0 
while True:
    if num >= 10:
        break
    print(num)
    num += 1

while num < 10:
    print(num)
    num += 1

##### Looping 'While True'

In [ ]:
game_over = True 

while game_running:
    user_input = input("Say some stuff")
    if user_running == 'quit:
       game_running = False
    print(user_input)
    score += 1
    print(f"Score: {score + 1}")

In [ ]:
##### While & For Loops Used Together

In [ ]:
num = 0

while num < 5:
    print("\n While Loop Iteration: " + str(num))
    
    for i in range(2):
        print("For Loop Iteration: " + str(i))
    
    num += 1

### Built-In Functions

##### range()

In [ ]:
# range(start, stop, step)
# Default: start = 0, stop is REQUIRED, step = 1
for i in range(5, 20,5):
    print(i)

##### len()

In [ ]:
name = "Max"
length = len(name)
print(length)

##### help()

In [ ]:
help(print)

##### isinstance()

In [ ]:
print(isinstance(4.5,int))
if isinstance(4.5, float):
    print("This number is a float type")

##### abs()

In [ ]:
# /5/

print(abs(-5))

### Try and Except

In [ ]:
# Use this whenever you expect to encounter a bug so that the error does not cause the program to stop 
# Use this to log out graceful and informative error messages 

try:
    number_test = 0 
    input_num = int(input("Guess a number"))
    if input_num != number_test:
        input_num = input_num + number_test
        print("Your number is: " + str(input_num))
except:
    print("That did not work - ERROR:PLeaes change your input to a number")

### Lists

##### Declaring Lists

In [ ]:
my_list = [] 

names = ['Max','Cindy','Kathy']
print(names)

##### Indexing a List

In [ ]:
# Syntax: list_name[start:stop:step]

# Single index
print(names[0])

# Print the last value NO MATTER THE SIZE of the list
print(names[-1])

# Print satrting at 1 going to end
print(names[1:])

# Print starting at beginning of list until the whatever index we give it 
print(names[:3])

# Print from one index to another 
print(names[2:4])

# Print starting at index one going up by 2 for each iteration 
print(names[1::2])

# Print starting at the end and going down by 1 each time 
print(names[::-1])

##### .append()

In [ ]:
names.append("bob")
print(names)

##### .insert()

In [ ]:
names.insert(3,'Gabby')
print(names)

##### .pop()

In [ ]:
# default is the last value if no parameter is given 
# pop returns the element that was removed in case you want to assign it into a variable

my_name = names.pop()
print(my_name)
print(names)


##### .remove()

In [ ]:
#   value to be removed, not the index

names.remove('bob')
print(names)

# remove multiple bobs from list 
while 'bob' in names:
    names.remove('bob')
print(names)

##### del()

In [ ]:
# Be careful, it can cause indexing errors if used improperly
# remove by index

##### Concatenating Two Lists

In [ ]:
first_list = [0,1,2]
second = [3,4,5]

big_list = first_list + second_list
print(big_list)

##### Lists Within Lists

In [ ]:
names = ["Max","Sam","Josh",["Sally","Sue","Tameka"]]

print(names)
print(names[3][1])

##### Looping Through Lists

In [ ]:
# Two ways to loop through a list, one is by index, the other is by using the 'in' keyword

# With a for loop using the index
for i in range(len(names)):
    print(names[i])

# Loop with a for loop and in 
for name in names:
    print(name)

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [ ]:
num = 1
while True:
    cube = num ** 3
    if cube > 1000:
        break
    print(cube)
    num += 1

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [ ]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

def prime(x, y):
    prime_list = []
    for i in range(x, y):
        if i == 0 or i == 1:
            continue
        else:
            for j in range(2, int(i/2)+1):
                if i % j == 0:
                    break
            else:
                prime_list.append(i)
    return prime_list

# Driver program
starting_range = 0
ending_range = 100
lst = prime(starting_range, ending_range)
if len(lst) == 0:
    print("There are no prime numbers in this range")
else:
    print("The prime numbers in this range are: ", lst)

The prime numbers in this range are:  [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [ ]:
age = int(input('Please enter age'))
if age < 18: 
    print ('kids')
elif age < 65:
    print ('adults')
else:
    print ('seniors')